<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019335437663-fnalcs1ekcb4mgqjqbpl0okt423vgjkc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019335437663-fnalcs1ekcb4mgqjqbpl0okt423vgjkc</string>
	<key>API_KEY</key>
	<string>AIzaSyB8kvBDiv0dJ4Cp-IIZRBzteHz8vMgGyLY</string>
	<key>GCM_SENDER_ID</key>
	<string>1019335437663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.itiFinalProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>iti-final-project-41d7c</string>
	<key>STORAGE_BUCKET</key>
	<string>iti-final-project-41d7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019335437663:ios:da98bb350d57e5d48bdaea</string>
</dict>
</plist>